<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <sectionGroup type="TS.Common.MyConfiguration.ConnSectionGroup,TS.Common" name="ConnGroup">
      <section type="TS.Common.MyConfiguration.ConnsSection,TS.Common" allowDefinition="Everywhere" name="conns" />
    </sectionGroup>
  </configSections>-->
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <!--程序循环读取周期 单位：秒-->
    <add key="LoopTime" value="60"/>
    <!--是否记录日志-->
    <add key="SaveLog" value="1"/>
    <!--本地Head表名-->
    <add key="LocalHead" value="EHS_ENTRY_HEAD"/>




    <!--where语句（例如: I_E_FLAG='I' and TRADE_CODE='1123'）,语句最前面不需要加“where”或者“and”-->
    <add key="ExtSql" value="I_E_FLAG &lt;&gt;'I'"/>

    <add key="ChangeDecTypeRule" value="10-0,11-0,05-1,06-1"/>
    <add key="ChangeDecTypeForDefConn" value="1"/>
    <add key="HGPath" value="\\172.7.1.137\XKJWLSJ_recive$\Exp5141PublicStore"/>
    <add key="ReadPath" value="D:\Study2\广州项目2016\xml读取服务\Read"/>
    <add key="SavePath" value="D:\Study2\广州项目2016\xml读取服务\Save"/>
    <add key="FailPath" value="D:\Study2\广州项目2016\xml读取服务\Fail"/>
  </appSettings>

  <!--<ConnGroup>
    <conns>
      <connList>
        <conn name="顺丰"  tradeCode="4404180198"  connectionString="Server=.\SQLEXPRESS;Database=IM_Manifest_DB_ZH;Uid=sa;Pwd=sasa;Max Pool Size=500" table="aaaa" changeDecType="1" />
        <conn name="上通" tradeCode="4401963088" connectionString="Server=.\SQLEXPRESS;Database=IM_Manifest_DB_ZH;Uid=sa;Pwd=sasa;Max Pool Size=500"  table="bbbb" changeDecType="1"  />
      </connList>
    </conns>
  </ConnGroup>-->
  <connectionStrings>
    <add name="DefaultConn" connectionString="Server=.\SQLEXPRESS;Database=IM_Manifest_DB_ZH;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
