<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <!--程序循环读取周期 单位：秒-->
    <add key="LoopTime" value="60"/>
    <!--是否记录日志-->
    <add key="SaveLog" value="1"/>
    <!--本地Head表名-->
    <add key="LocalHead" value="EHS_ENTRY_HEAD"/>
    <!--DEC_Type转换规则-->
    <add key="ChangeDecTypeRule" value="10-0,11-0,05-1,06-1"/>
    <!--是否启用DEC_Type转换-->
    <add key="ChangeDecTypeForDefConn" value="1"/>
    <!--海关远程目录-->
    <add key="HGPath" value="D:\Study2\广州项目2016\xml读取服务\HGPath"/>
    <!--本地读取目录-->
    <add key="ReadPath" value="D:\Study2\广州项目2016\xml读取服务\Read"/>
    <!--本地读取成功存放目录-->
    <add key="SavePath" value="D:\Study2\广州项目2016\xml读取服务\Save"/>
    <!--本地读取失败存放目录-->
    <add key="FailPath" value="D:\Study2\广州项目2016\xml读取服务\Fail"/>
  
    <add key="RemotePathLoginName" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConn" connectionString="Server=.\SQLEXPRESS;Database=IM_Manifest_DB_ZH;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>